/*MIXINS*/
/*FUNCTIONS*/
/* SASS and Global'ish Stuff */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.6944444444vw;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 10px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  visibility: hidden;
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* BEM Blocks */
.header {
  max-width: 144rem;
  width: 100%;
  padding: 0 2rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.logo {
  visibility: hidden;
}

.burger {
  width: 34px;
  height: 34px;
  position: relative;
  background: transparent;
  border: none;
  z-index: 8000;
}
.burger:before, .burger:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #ffffff;
  transition: 0.2s linear;
}
.burger:before {
  top: 12px;
  left: 0;
}
.burger:after {
  bottom: 12px;
  left: 0;
}
.burger.is-open:before {
  transform: translateY(4px) rotate(45deg);
  background-color: tomato;
}
.burger.is-open:after {
  transform: translateY(-4px) rotate(-45deg);
  background-color: tomato;
}
.burger:hover {
  cursor: pointer;
}

.hero {
  position: relative;
}
.hero__container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 100vh;
  background-image: url("../img/mountains-stars.png");
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}
.hero__container:before {
  content: "";
  display: block;
  padding-top: 50%;
}
.hero__container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.hero__cta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 8.5rem);
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
@media only screen and (max-width: 1024px) {
  .hero__cta-wrap {
    margin-top: calc(50vh - 30rem);
  }
}
.hero__slogan {
  max-width: 85rem;
  margin: 0 auto 4rem;
  padding: 0 2rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 6.5rem;
}
@media only screen and (max-width: 768px) {
  .hero__slogan {
    font-size: 5rem;
  }
}
@media (max-width: 576px) {
  .hero__slogan {
    font-size: 3rem;
  }
}
.hero__slogan-wrap {
  height: 7rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 576px) {
  .hero__slogan-wrap {
    height: 4rem;
  }
}
.hero__slogan-hidden {
  width: 100%;
  position: absolute;
  left: 0;
}
.hero__desc {
  max-width: 52rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 1.8rem;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  .hero__desc {
    max-width: 45rem;
    font-size: 1.5rem;
  }
}

.tiles {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 5rem;
}
@media only screen and (max-width: 768px) {
  .tiles {
    justify-content: flex-start;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }
}
@media (max-width: 576px) {
  .tiles {
    margin-bottom: 0;
  }
}
.tiles__single {
  display: block;
  flex: 1;
  text-align: left;
  padding: 2rem 5rem;
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .tiles__single {
    min-width: 75%;
    scroll-snap-align: start;
  }
}
@media (max-width: 576px) {
  .tiles__single {
    min-width: 90%;
    padding: 2rem;
  }
}
.tiles__single img {
  width: 3.2rem;
  height: 3.4rem;
}
.tiles__single:hover .tiles__link {
  transform: translateX(2.5rem);
}
.tiles__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tiles__title {
  font-size: 2rem;
  font-weight: 600;
}
.tiles__desc {
  max-width: 34rem;
  width: 100%;
  font-size: 1.4rem;
  opacity: 0.5;
}
@media (max-width: 576px) {
  .tiles__desc {
    max-width: 100%;
  }
}
.tiles__anime {
  display: block;
  overflow: hidden;
}
.tiles__link {
  display: block;
  position: relative;
  font-weight: 600;
  color: #ff7a00;
  transition: transform 0.5s ease-in-out;
}
.tiles__link:before {
  content: "";
  width: 2rem;
  height: 1px;
  position: absolute;
  left: -2.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff7a00;
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.stars,
.sky__twinkling,
.sky__clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.sky__twinkling {
  background: transparent url(../img/twinkling.png) repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.sky__clouds {
  height: 50vh;
  background: transparent url(../img/clouds-grey.png) repeat;
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 3;
  animation: move-clouds-back 1500s linear infinite;
}

.btn {
  max-width: 20rem;
  width: 100%;
  height: 5rem;
  margin-top: 4rem;
  position: relative;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffffff;
  border: none;
  overflow: hidden;
}
.btn__inner {
  transition: opacity 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn svg {
  height: 5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn svg rect {
  fill: none;
  stroke: #ff7a00;
  stroke-width: 0.5rem;
  stroke-dasharray: 55rem, 0;
  transition: stroke-dasharray 1.35s cubic-bezier(0.19, 1, 0.22, 1), stroke 3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn svg:hover {
  cursor: pointer;
}
.btn svg:hover rect {
  stroke-dasharray: 2rem, 36rem;
  stroke-dashoffset: 4rem;
  stroke: #ffffff;
}
.btn:after {
  content: "Prepare for unexpected !";
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(2);
  color: #ff7a00;
  opacity: 0;
  pointer-events: none;
  will-change: transform;
}
.btn:hover:after {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  transition: transform 1.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover .btn__inner {
  opacity: 0;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background: #ff7a00;
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
}
@media (max-width: 480px) {
  .nav {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}
.nav__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.nav__bg:before {
  content: "";
  display: block;
  padding-top: 50%;
}
.nav__bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.nav__bg--hill {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  background-image: url("../img/bg-hill.svg");
}
.nav__bg--pines-side {
  background-image: url("../img/pines-side.svg");
}
.nav__bg--pines-first {
  background-image: url("../img/pines-first.svg");
}
.nav__bg--pines-second {
  background-image: url("../img/pines-second.svg");
  z-index: -1;
}
.nav__bg--pines-third {
  background-image: url("../img/pines-third.svg");
  z-index: -2;
}
.nav__bg--moon {
  background-image: url("../img/full-moon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 5rem;
  top: 5rem;
  opacity: 0;
  z-index: -3;
}
.nav__list {
  margin: 0 2rem 2rem 0;
  text-align: left;
  list-style-type: none;
  text-align: right;
}
.nav__list--contact, .nav__list--socials {
  text-align: left;
}
@media (max-width: 480px) {
  .nav__list--contact, .nav__list--socials {
    text-align: right;
  }
}
.nav__list--socials {
  display: flex;
}
.nav__list-item {
  margin-top: 1rem;
  pointer-events: all;
}
.nav__list-item:last-of-type a {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.nav__list-contact, .nav__list-social {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  text-align: left;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .nav__list-contact, .nav__list-social {
    font-size: 1.4rem;
  }
}
.nav__list-contact:hover, .nav__list-social:hover {
  opacity: 0.9 !important;
}
.nav__list-social {
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid #ffffff;
}
.nav__list-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 6rem;
  font-family: "Libre Baskerville", serif;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ff7a00, #ff7a00 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1s cubic-bezier(0.38, 0.33, 0, 1.03);
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .nav__list-link {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav__list-link {
    font-size: 3rem;
  }
}
.nav__list-link:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
  background-color: #ffffff;
  transition: 1s cubic-bezier(0.38, 0.33, 0, 1.03);
  transition-property: transform background-color;
}
.nav__list-link.is-active {
  -webkit-text-fill-color: #ff7a00;
  pointer-events: none;
}
.nav__list-link.is-active:before {
  left: 0;
  background-color: #ff7a00;
}
.nav__list-link:hover {
  background-position: 0%;
}
.nav__list-link:hover:before {
  transform: translate(200%, -50%);
  background-color: #ff7a00;
}