.btn {
  max-width: 20rem;
  width: 100%;
  height: 5rem;
  margin-top: 4rem;
  position: relative;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.4rem;
  color: $color_white;
  border: none;
  overflow: hidden;
  &__inner {
    transition: opacity 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
  svg {
    height: 5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    rect {
      fill: none;
      stroke: $color_primary;
      stroke-width: 0.5rem;
      stroke-dasharray: 55rem, 0;
      transition: stroke-dasharray 1.35s cubic-bezier(0.19, 1, 0.22, 1), stroke 3s cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
      cursor: pointer;
      rect {
        // stroke-width: .5rem;
        stroke-dasharray: 2rem, 36rem;
        stroke-dashoffset: 4rem;
        stroke: $color_white;
      }
    }
  }
  &:after {
    content: "Prepare for unexpected !";
    font-family: $base-font;
    font-weight: 600;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(2);
    color: $color_primary;
    opacity: 0;
    pointer-events: none;
    will-change: transform;
  }
  &:hover {
    &:after {
      transform: translateX(-50%) scale(1);
      opacity: 1;
      transition: transform 1.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .btn__inner {
      opacity: 0;
    }
  }
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background: $color_primary;
}
