.hero {
  // display: none;
  position: relative;
  &__container {
    @include resp-img((600/1200) * 100%);
    min-height: 100vh;
    background-image: url("../img/mountains-stars.png");
    background-repeat: no-repeat;
    text-align: center;
    color: $color_white;
    overflow: hidden;
    @include tablet {
      height: calc(100 * var(--vh));
    }
  }
  &__cta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 8.5rem);
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: $merkury;
  }
  &__cta-wrap {
    @include tablet {
      margin-top: calc(50vh - 30rem);
    }
    @include phablet {
      margin-top: calc(50vh - 25rem);
    }
  }
  &__slogan {
    max-width: 85rem;
    margin: 0 auto 4rem;
    padding: 0 2rem;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 6.5rem;
    @include portrait {
      font-size: 5rem;
    }
    @include phablet {
      font-size: 3rem;
    }
    @include mobile-sm {
      font-size: 2.8rem;
    }
    &-wrap {
      height: 7rem;
      position: relative;
      overflow: hidden;
      @include phablet {
        height: 4rem;
      }
    }
    &-hidden {
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
  &__desc {
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.8rem;
    opacity: 0.5;
    @include portrait {
      max-width: 45rem;
      font-size: 1.4rem;
    }
    @include mobile-sm {
      font-size: 1.2rem;
    }
  }
}
