@mixin resp-img($padding, $bg: "") {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @if ($bg != "") {
    background-image: url(#{$bg});
  }
  &:before {
    content: "";
    display: block;
    padding-top: $padding;
  }
  @if ($bg == "") {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
