$background: #0f1217;
$color_white: #ffffff;
$color_primary: #ff7a00;

$wrapper-width: 144rem;
$wrapper-padding: 2rem;
$vw_base: 1440;

$heading-font: "Libre Baskerville", serif;
$base-font: "Montserrat", sans-serif;

$god: 999999999999999999999;
$nibiru: 9999;
$pluton: 9000;
$uran: 8000;
$neptun: 7000;
$saturn: 6000;
$jupiter: 5000;
$mars: 4000;
$earth: 3000;
$venus: 2000;
$merkury: 1000;
$sun: 900;
$sky: 500;
$mountEverest: 100;
$mountBlanc: 10;
$ground-level: 0;
$marianaTrench: -10;
$outerCore: -100;
$innerCore: -500;
$hell: -1000;

//bp
$screen-sm: 576px;
$screen-portrait: 768px;
$screen-portrait-lg: 992px;
$screen-tablet: 1024px;
$screen-laptop-sm: 1200px;
